# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Dataset
data/*
!data/.gitkeep

# Trained ML models
ml/saved_models/*
!ml/saved_models/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/
